@keyframes flash {
    0%   {opacity: 1;}
    50%  {opacity: 0.1;}
    100% {opacity: 1;}
}

@keyframes titleAnimation {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

#title {
    position: absolute;
    top: 21%;
    left: 77px;
    transform: translate(-50%, -50%) rotate(30deg);
    font-size: 1.1em;
    color: #bc1d1d;
    text-shadow: 2px 2px 4px #eacf37;
    z-index: 2;
    animation: titleAnimation 3s infinite;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 2in auto 20px;
    border-radius: 50%;
    box-sizing: border-box;
    transform: rotate(-30deg);
}

#start-button, #flash-speed {
    width: 100px;
    height: 30px;
    margin-top: -50px;
    align-self: left;
    margin: 0 auto;
    transform: translateX(-6vw);
}

label[for="flash-speed"] {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    transform: translateX(-6vw);
}

#welcome-message {
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #dee2e6;
    border-radius: .23rem;
    text-align: center;
    transform: translateX(-6vw);
    font-size: 1em;
    margin-bottom: 20px;
}

.simon-button {
    width: 50%;
    height: 50%;
    position: absolute;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

:root {
    --rotation-base: 30deg;
    --flash-speed: 1s; /* default speed */
}

.active {
    animation: flash var(--flash-speed);
}

#button1 {
    background: red;
    transform: rotate(0deg) translate(0, 100%);
}

#button2 {
    background: blue;
    transform: rotate(60deg) translate(0, 100%);
}

#button3 {
    background: green;
    transform: rotate(120deg) translate(0, 100%);
}

#button4 {
    background: yellow;
    transform: rotate(180deg) translate(0, 100%);
}

#button5 {
    background: purple;
    transform: rotate(240deg) translate(0, 100%);
}

#button6 {
    background: orange;
    transform: rotate(300deg) translate(0, 100%);
}

#score, #game-status {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateX(-6vw);
}

#game-status {
    color: #2E8B57;
}
